<p>car-list works!</p>

<div class="row">
    <!-- Car List -->
    <div [className]="sidePanelVisible?'col-8':'col-12'">
        <div class="card">
            <div class="card-header bg-success">
                <div class="row">
                    <div class="col-6">Car List</div>
                    <div class="col-6 text-end">
                        <button class="btn btn-primary" (click)="sidePanelVisible=true"> add new</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No.</th>
                            <th>Name</th>
                            <th>Rate per Hour</th>
                            <th>Rate per Day</th>
                            <th>Car Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (car of carList; track car.carId;let sr= $index) {
                        <tr>
                            <td>{{sr}}</td>
                            <td>{{car.carName}}</td>
                            <td>{{car.ratePerHr}}</td>
                            <td>{{car.ratePerDay}}</td>
                            <td><img [src]="car.carImage" alt="Car Image"
                                    [attr.style]="sidePanelVisible ? 'width: 72%; height: 50px;' : ''">
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Car add -->
    @if(sidePanelVisible){
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                <div class="row">
                    <div class="col-6">New Car</div>
                    <div class="col-6 text-end">
                        <button class="btn btn-primary" (click)="sidePanelVisible=false"> Close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="carName">Car Name</label>
                        <input type="text" [(ngModel)]="carObj.carName" class="form-control" />
                    </div>
                    <div class="col-6">
                        <label for="carName">Image Url</label>
                        <input type="text" [(ngModel)]="carObj.carImage" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="carName">Rate Per Hour</label>
                        <input type="number" [(ngModel)]="carObj.ratePerHr" class="form-control" />
                    </div>
                    <div class="col-6">
                        <label for="carName">Rate Per Day</label>
                        <input type="number" [(ngModel)]="carObj.ratePerDay" class="form-control" />
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6 text-center">
                        <button class="btn btn-success" (click)="onSaveCar()"> Save</button>
                    </div>
                    <div class="col-6 text-center">
                        <button class="btn btn-info" (click)="onReset()"> Reset
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>}

</div>